
.cardInner {
    z-index: 1;
    height: 300px;
    
    
}
.card {
    border-radius: var(--main-border-radius);
}
.gradient {
    position:static;
   
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: var(--gradient);
    background-size: auto;
    border-radius: var(--main-border-radius);
    opacity: 0;
}


.weekday {
    width: 100px;
}
